{% extends 'base.html' %}
{% block title %} | About {% endblock %}
{% load static %}
{% block content %}

    <section id="showcase-inner" class="py-5 text-white">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h1 class="display-4">About Trap and Shotstar</h1>
                </div>
            </div>
        </div>
    </section>

    <!-- Breadcrumb -->
    <section id="bc" class="mt-3">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'index' %}">
                            <i class="fas fa-home"></i> Home</a>
                    </li>
                    <li class="breadcrumb-item active"> About</li>
                </ol>
            </nav>
        </div>
    </section>

    <section id="about" class="py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2>TRAP</h2>
                    <p class="lead">One of the most fun games you'll ever play!</p>
                    <img src="{% static 'images/title_page.png' %}" class="img-fluid" alt="Responsive image">
                    <p class="mt-4">Trap shooting is probably the most familiar game to new shooters.
                        It consists of a single trap and five shooting locations as shown in the diagram below.
                        Trap is one of the easiest games to learn, but is difficult to master because the flight
                        of the target varies due to the side-to-side motion of the trap.
                    </p>
                    <p>
                        For a detailed explanation of the game, please check out the
                        <a href="https://en.wikipedia.org/wiki/Trap_shooting">Wikipedia Link on Trap Shooting</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'images/trap_diagram.png' %}" class="img-fluid" alt="Responsive image"
                             alt="Seller of the month">
                        <div class="card-body">
                            <h5 class="card-title">Trap Diagram</h5>
                            <h6 class="text-secondary">Kyle Brown</h6>
                            <p class="card-text">Players take 5 shots at each of the 5 stations on a trap field.
                                A perfect score is 25/25!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




{% endblock %}
