{% extends 'base.html' %}
{% load static %}
{% block title %}| Welcome {% endblock %}
{% block content %}

    <!-- Showcase -->
    <section id="showcase">
        <div class="container text-center">
            <img src="{% static 'images/1024px-wikipedia_trap_shoot_scene.jpg' %}" class="img-fluid" alt="Responsive image">
            <hr>
            <div class="home-search p-3">
                <div class="overlay p-3">
                    <h1 class="display-4 mb-4">Trapstar</h1>
                    <p class="lead">Scoring Rounds of Trap Just Got So Easy!</p>
                </div>
            </div>
        </div>
    <hr>
    </section>

    <div class=""></div>
    <!-- Alerts -->
    {% include 'partials/_alerts.html' %}
{% endblock %}