{% extends 'base.html' %}
{% block title %} | Games {% endblock %}
{% load humanize %}
{% block content %}

{% load static %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="display-4">Browse Your Recorded Games!</h1>
                <p class="lead">Click More Info for Additional Game Details!</p>
            </div>
        </div>
    </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'index' %}">
                        <i class="fas fa-home"></i> Home</a>
                </li>
                <li class="breadcrumb-item active"> Browse Games</li>
            </ol>
        </nav>
    </div>
</section>

<!-- Games -->
<section id="games" class="py-4">
    <div class="container">
        <div class="row">
            {% if games %}
                {% for game in games %}
                    <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card game-preview">
                    {#                                <img class="card-img-top"#}
                    {#                                     src="assets/img/homes/home-1.jpg" alt="">#}
                    {#                                <div class="card-img-overlay">#}
                    {#                                    <h2>#}
                    {#                                        <span class="badge badge-secondary text-white">$490,000</span>#}
                    {#                                    </h2>#}
                    {#                                </div>#}
                    <div class="card-body">
                    <div class="game-heading text-center">
                        <h4 class="text-primary">Game ID: {{ game.id }}</h4>
                        <p>
                            {#                                            <i class="fas fa-map-marker text-secondary"></i>#}
                            <i class="fas fa-calendar-alt text-secondary"></i>
                            {{ game.date_played }}</p>
                    </div>
                    <hr>
                    <div class="row py-2 text-secondary">
                        <div class="col-6">
                            <i class="fas fa-user-alt"></i>
                            {{ game.creator_id }}
                        </div>
                        <div class="col-6">
                            <i class="fas fa-user"></i><i
                                class="fas fa-user"></i><i
                                class="fas fa-user"></i>
                            {{ game.number_of_players }}
                        </div>
                    </div>
                    {% for round in rounds %}
                        {% if round.0 == game.id %}
                            <div class="container">
                                <div class="row justify-content-md-center">
                                    <div class="col-md-auto">
                                        {{ round.1 }}
                                    </div>
                                    <div class="col-md-auto">
                                        {{ round.2 }}
                                    </div>
                                    <div class="col-md-auto">
                                        {{ round.3 }}
                                    </div>
                                </div>
                            </div>
{#                            Round #</label> | <label class="col  py-0 justify-content-sm-center">Station #</label> | <label>Shots Taken</label>#}
{#                            {{ round.1 }} | {{ round.2 }} | {{ round.3 }}#}
                        {% endif %}
                    {% endfor %}

            <hr>
{#            <div class="row py-2 text-secondary">#}
{#                <div class="col-12">#}
{#                    <i class="fas fa-user"></i> Kyle#}
{#                    Brown#}
{#                </div>#}
{#            </div>#}
            <div class="row text-secondary pb-0">
                <div class="col">
                    <i class="fas fa-clock"></i> {{ game.date_played | timesince }} ago
                </div>
            </div>
            <hr>
            <a href="{% url 'game' game.id %}" class="btn btn-primary
            btn-block">MoreInfo</a>
            </div>
            </div>
            </div>
                {% endfor %}
            {% else %}
            <div class="col-md-12">
                <p>No Games Recorded</p>
            </div>
            {% endif %}
        </div>

        <div class="row">
            <div class="col-md-12">
                {% if games.has_other_pages %}
                    <ul class="pagination">
                        {% if listings.has_previous %}
                            <li class="page-item">
                                <a href="?page={{ games.previous_page_number }}" class="page-link">&laquo;</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link">&laquo;</a>
                            </li>
                        {% endif %}
                        {% for i in games.paginator.page_range %}
                            {% if games.number == i %}
                                <li class="page-item active">
                                    <a class="page-link">{{ i }}</a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if listings.has_next %}
                            <li class="page-item">
                                <a href="?page={{ games.next_page_number }}" class="page-link">&raquo;</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link">&raquo;</a>
                            </li>
                        {% endif %}


                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}